.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item-image img {
    display: flex;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

.portolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ==============MEDIA QUERIES (MEDIUM DEVICES==========*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }
}

/* ==============MEDIA QUERIES (SMALL DEVICES==========*/

@media screen and (max-width: 600px) {
    .portfolio__container{
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}