.portfolio__container {
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portolio__item {
    margin: 100px;
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project__language {
    margin: 10px;
    text-decoration: underline;
}

.portfolio__item-image {
    margin: 10px;
    display: flex;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    overflow: hidden;
}

.btn {
    margin: 10px;
}

/* ==============MEDIA QUERIES (MEDIUM DEVICES==========*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        height: 200vh;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }

}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .portfolio__container {
        height: 220vh;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }

}

@media screen and (max-width: 800px) and (max-height: 1024px) {
    .portfolio__container {
        height: 200vh;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }

}

/* ==============MEDIA QUERIES (SMALL DEVICES==========*/

@media screen and (max-width: 600px) {
    .portfolio__container{
        height: 450vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) and (max-height: 750px) {
    .portfolio__container {
        height: 300vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (width: 540px) and (height: 720px) {
    .portfolio__container {
        height: 500vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 500px) and (max-height: 925px) {
    .portfolio__container {
        height: 450vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .portfolio__container {
        height: 400vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 360px) {
    .portfolio__container {
        height: 350vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .portfolio__container {
        height: 350vh;
        width: 100%;
        overflow: hidden;
        margin: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}