body {
    background: black;
    color: white;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10px;
        overflow: hidden;
    }

    section>h2 {
        margin-top: 2rem;
    }
}